#CA = "https://acme-staging-v02.api.letsencrypt.org/directory"
CA = "https://acme-v02.api.letsencrypt.org/directory"
TERMS = "https://letsencrypt.org/documents/LE-SA-v1.2-November-15-2017.pdf"

RENEWAL_THRESHOLD = 15 # days

MAIL = "admin@letsencrypt.example"
CN = "server.letsencrypt.example"

ACME_SOCK = "/tmp/acme-challenge.sock"

# only process these domains, exclude is still valid with this
# suffix with ~ =? include subdomains
INCLUDE_DOMAIN = []

# suffix with ~ =? include subdomains
EXCLUDE_DOMAIN = ["~twbbs.org"]

# list of custom additional domains
CUSTOM_DOMAIN = []

# proc for processing
# wildcard => array with wildcard domains to process
#          =>  !!! This is the array to modify !!!
# static => array with static domains for reference
WILDCARD_PROCESSING = Proc.new do |wildcard, static|
end

DNS_UPDATE_WAIT_TIME = 60

# for dns01 challengt => create dns record of #{type} for #{record}.#{domain} with value #{cont}
# n is the counter of the same domain
# (it'll be 1 unless duplicated, which usually only happen for authing both domain itself and wildcard)
# return nil to indicate not to use dns01
# return true/false to indicate wheather dns update success or not
# since acme-cient uses faraday, you can use here to do api call
# see https://lostisland.github.io/faraday/usage/
DNS_UPDATE = Proc.new do |domain, record, type, cont, n|
end
