#CA = "https://acme-staging-v02.api.letsencrypt.org/directory"
CA = "https://acme-v02.api.letsencrypt.org/directory"
TERMS = "https://letsencrypt.org/documents/LE-SA-v1.2-November-15-2017.pdf"

RENEWAL_THRESHOLD = 15 # days

MAIL = "admin@letsencrypt.example"
CN = "server.letsencrypt.example"

ACME_SOCK = "/tmp/acme-challenge.sock"

# suffix with ~ =? include subdomains
EXCLUDE_DOMAIN = ["~twbbs.org"]

# proc for processing
# wildcard => array with wildcard domains to process
#          =>  !!! This is the array to modify !!!
# static => array with static domains for reference
WILDCARD_PROCESSING = Proc.new do |wildcard, static|
end
